<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Food Delivery System</title>
<meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/allhotels.js"></script>
  <script src="/getHotel.js"></script>
  <script src="/addhotel.js"></script>
</head>
<body>
<div class="container">
<div id="postResultDiv" align="center">
<input type="text" id="myInput" placeholder="Search for restaurants,address,rating.." size="50">
<button id="searchHotels" type="button" class="btn btn-primary">Search Hotels</button>
<h1>Hotels List</h1>
</div>
<p>Select Hotel name to order Food</p>
<table class ="hotelList" id="hotelList" border="1">
	<thead>
  		<tr>
  			<th>ID</th>
  			<th>Hotel Name</th>
   			<th>Hotel Address</th>
   			<th>Rating</th>
  		</tr>
  	</thead>
  	<tbody>
  	
  	</tbody>
</table>
</br>
<div>
<button id="addHotels" type="button" class="btn btn-primary">Add New Hotels</button>
</div>

<form id="hotelForm" autocomplete="off">
	<div class="form-group">
      <input type="text" class="form-control" id="hotelId" name="hotelId" style="display: none;">
    </div>
    <div class="form-group">
      <label for="hotelName">Hotel Name:</label>
      <input type="text" class="form-control" id="hotelName" placeholder="Enter Hotel Name" name="hotelName">
    </div>
    <div class="form-group">
      <label for="hotelAddress">Address:</label>
      <input type="text" class="form-control" id="hotelAddress" placeholder="Enter Hotel Address" name="hotelAddress">
    </div>
    <div class="form-group">
      <label for="rating">Rating:</label>
      <input type="text" class="form-control" id="rating" placeholder="Enter Hotel rating" name="rating">
    </div>
    <button id="addData" type="submit" class="btn btn-primary">Submit</button>
     <button id="updateData" type="button" class="btn btn-primary">Submit</button>
  </form>
  
    </div>
</body>
</html>